<div class="contenedor-tarjetas">
<ion-card class="card" *ngFor="let personaje of personajes" >
  <img alt="Personaje de Rick y Morty" [src]= "personaje.image" (click)="navigateCharacter(personaje.id)" />
  <ion-card-header >
    <ion-card-title >{{personaje.name}}</ion-card-title>
    <ion-card-subtitle>{{personaje.gender}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ul>
      <li><strong>Especie: </strong> {{personaje.species}}</li>
      <li><strong>Estado: </strong>{{personaje.status}}</li>
      <li><strong>Localización: </strong>{{personaje.location.name}}</li>
    </ul>
     <div class="btn-group">
    <ion-button color="dark" (click)="editarPersonaje(personaje.id)">
      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-button>
    <ion-button color="dark" (click)="eliminarPersonaje(personaje.id)">
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-button>
    </div>
  </ion-card-content>
</ion-card>
</div>