<ion-content class="add-character-page">
  <div class="form-container">
    <h2>Añadir Nuevo Personaje</h2>

    <ion-card>
      <ion-card-content>
        <!-- Nombre -->
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="nuevoPersonaje.name"></ion-input>
        </ion-item>

        <!-- Especie -->
        <ion-item>
          <ion-label>Especie</ion-label>
          <ion-select [(ngModel)]="nuevoPersonaje.species" interface="popover" placeholder="Selecciona especie">
            <ion-select-option value="Human">Human</ion-select-option>
            <ion-select-option value="Alien">Alien</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Estado -->
        <ion-item>
          <ion-label>Estado</ion-label>
          <ion-select [(ngModel)]="nuevoPersonaje.status" interface="popover" placeholder="Selecciona estado">
            <ion-select-option value="Alive">Alive</ion-select-option>
            <ion-select-option value="Dead">Dead</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Género -->
        <ion-item>
          <ion-label>Género</ion-label>
          <ion-select [(ngModel)]="nuevoPersonaje.gender" interface="popover" placeholder="Selecciona género">
            <ion-select-option value="Male">Male</ion-select-option>
            <ion-select-option value="Female">Female</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Imagen -->
       <ion-item>
  <ion-label position="stacked">Imagen URL</ion-label>
  <ion-input [(ngModel)]="nuevoPersonaje.image" placeholder="Deja vacío para imagen por defecto"></ion-input>
</ion-item>

        <!-- Botones -->
        <div class="button-group" style="margin-top: 20px;">
          <ion-button expand="block" color="primary" (click)="guardarPersonaje()">Guardar</ion-button>
          <ion-button expand="block" color="medium" (click)="cancelar()">Cancelar</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>